
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

html, body{
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(116, 198, 157, 1);
}
.container{
   
    
   
   margin: auto;

 
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__logo--text{
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 500;
}

.navbar__menu{
    display: flex;
    gap: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;

}

[class ^="navbar__menu--"]{
    text-decoration: none;
    color: black;
}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;
    margin-top: 60px;
}

.section__left--title{
    text-transform: capitalize;
    font-size: 28px;
   ;
    font-weight: bold;
}

.section__left--label{
    color: whitesmoke;
font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section__left--text{
font-family: 'Work Sans', sans-serif;
font-size: smaller;
}

.section__left--btn{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}





@media(max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .navbar__menu {
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
.section{
    display: inline;
}
}

@media(max-width: 568px) {
    .container {
        max-width: 100%;
    }

    .navbar__menu {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}